<!DOCTYPE html>
<html>
<head>
  <title>Makeyourtemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato|Yellowtail" rel="stylesheet">
</head>
<body>

<%= yield %>



</body>
</html>
