<h1>Preview</h1>



<span id="text_preview">
<% number = 1 %>
<% @sections.each do | section | %>
<!-- id only for text section! -->
	<div id="sectionid_<%=number%>">
		<h1><%= section.section_name %></h1>

		<div id="<%= section.section_name %>" class="<%= section.section_name %>">
			<%= raw section.html_content %>
		</div>
	<% number += 1 %>
	</div>
</span>
<% end %>
